.back-1st {
  background-color: #FFF196;
}

.back-2nd {
  background-color: #B04238;
}

.green-1st {
  background-color: #2DB073;
}

.green-2nd {
  background-color: #31B069;
}

.green-3rd {
  background-color: #99FCC5;
}

.greenery {
  background-color: #88B04B;
}

.gray {
  background-color: #E2E3E1;
}

.white {
  background-color: #FCFDFB;
}

.dark-gray-color {
  color: #333333;
}
