/* main font */
.josefin {
  font-family: 'Josefin Sans', sans-serif;
}

/* secondary */
.sacramento {
  font-family: 'Sacramento', cursive;
}

/* not using */
.lora {
  font-family: 'Lora', serif;
}
