body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

header nav {
  margin-right: 20px;
}

nav span {
  font-size: 26px;
}

nav span a {
  text-decoration: none;
  margin: 0 5px;
}

.logo {
  font-size: 50px;
  margin: 0;
  margin-left: 25px;
}

/* colors */

.back-1st {
  background-color: #FFF196;
}

.back-2nd {
  background-color: #B04238;
}

.green-1st {
  background-color: #2DB073;
}

.green-2nd {
  background-color: #31B069;
}

.green-3rd {
  background-color: #99FCC5;
}

.greenery {
  background-color: #88B04B;
}

.gray {
  background-color: #E2E3E1;
}

.white {
  background-color: #FCFDFB;
}

.dark-gray-color {
  color: #333333;
}

/* fonts */

/* main font */
.josefin {
  font-family: 'Josefin Sans', sans-serif;
}

/* secondary */
.sacramento {
  font-family: 'Sacramento', cursive;
}

/* not using */
.lora {
  font-family: 'Lora', serif;
}
