body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #FFF196;
  color: #393742;
}

h2 {
  font-size: 36px;
  margin: 15px;
}

h3 {
  font-size: 32px;
  margin: 15px;
}

h4 {
  font-size: 28px;
  margin: 15px;
}

header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #FFF196;
  border-bottom: 3px solid #FCFDFB;
}

header nav {
  margin-right: 20px;
  flex-shrink: 0;
}

nav span {
  font-size: 26px;
  font-family: 'Josefin Sans', sans-serif;
}

nav span a {
  text-decoration: none;
  margin: 0 5px;
  color: #393742;
}

footer {
  position: relative;
  top: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF196;
  border-top: 3px solid #FCFDFB;
  font-family: 'Josefin Sans', sans-serif;
}

footer h2 {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  margin: 30px;
}

footer h5 {
  font-size: 18px;
  margin: 10px;
}

footer h5.copyright {
  align-self: flex-start;
  margin-top: 30px;
}

.logo {
  font-size: 50px;
  margin: 0;
  margin-left: 25px;
  font-family: 'Sacramento', cursive;
  flex-shrink: 0;
}

.mission {
  position: relative;
  background-image: url('../images/back_1st_img-mission-background.jpg');
  background-color: #FFF196;
  height: 700px;
  width: 1200px;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.9;
}

.mission .text-content {
  background-color: #FFF196;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.tea-of-month {
  position: relative;
  top: 100px;
  width: 1000px;
  background-color: #FFF196;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
}

.tea-of-month .text-content {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.tea-of-month-images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 5px auto;
}

.tea-of-month-images-item {
  margin: 5px 10px;
}

.tea-of-month-images-item img {
  border: 2px dashed #393742;
  opacity: 0.9;
}

.tea-of-month-images-item h4 {
  font-family: 'Sacramento', cursive;
  margin: 10px auto;
}

.locations {
  position: relative;
  background-image: url('../images/back_2nd_img-locations-background.jpg');
  background-color: #FFF196;
  height: 500px;
  width: 1200px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.9;
}

.locations .text-content {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.locations-items {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.location-item {
  height: 300px;
  width: 300px;
  background-color: #FFF196;
  margin: 0 20px;
}

.location-item h3 {
  margin: 30px 15px;
}

.location-item h4 {
  font-size: 22px;
}
